.slideshow{
    background-image: url(images/11947635_1474096949558117_1586807375953407106_n.png);
    background-size: cover;
    background-attachment: fixed;
    background-position: inherit;
    height: 400px;
    margin-top: 110px;
    &__infos{
        height: 400px;
        display: flex;
        align-items: center;
        text-align: center;
        &__h1{
            color: #fff;
            font-family: $fonte-base;
            font-size: 35px;
            text-shadow: 1px 2px #000;
            &__strong{
                color: #00bdca;
                text-shadow: 1px 2px #000;
            }
        }
        &__h2{
            color: #272930;
            font-family: $fonte-base;
            font-size: 28px;
            text-shadow: 2px 2px #fff;
        }
        &__button{
            width: 220px;
            height: 50px;
            outline: none;
            background-color: #fff;
            border: none;
            color: #00bdca;
            font-size: 16px;
            font-weight: 700;
            font-family: $fonte-base;
            cursor: pointer;
            margin-top: 10px;
            &:hover{
                background-color: #00bdca;
                color: #fff;
            }
        }
    }
    @media (max-width: 768px){
        margin-top: 0;
    }
}

.sobre{
    &__perfil{
        background: #fff;
        padding: 10px 40px;
        position: relative;
        top: 50%;
        box-shadow: 0px 0px 12px 4px #ddd;
        margin: 15px 0px;
        &__link{
            &__img{
                width: 100%;
                border-radius: 50%;
                height: 500px;
                @media (max-width: 414px){
                    border-radius: 10%;
                }
                @media (max-width: 375px){
                    border-radius: 10%;
                }
            }
        }
        &__box{
            display: flex;
            align-items: flex-start;
            justify-content: space-evenly;
            flex-direction: column;
            &__h2{
                color: #00ebfb;
                font-size: 25px;
                font-weight: 700;
                font-family: "Roboto Light",sans-serif;
                text-shadow: 2px 2px 2px #222;
            }
            &__h3{
                color: #00bdca;
                font-size: 20px;
                font-weight: 300;
                font-family: "Roboto Light",sans-serif;
                border: 1px solid;
                padding: 30px;
                padding-bottom: 15px;
                position: relative;
                right: 75px;
                &::before{
                    position: absolute;
                    top: -9px;
                    font-size: 70px;
                    content: '"';
                    width: 30px;
                    height: 30px;
                }
                &::after{
                    position: absolute;
                    bottom: 10px;
                    right: 360px;
                    font-size: 70px;
                    content: '"';
                    width: 30px;
                    height: 30px;
                    @media (min-width: 1024px) and (max-width: 1080px){
                        right: 50px;
                    }
                    @media (min-width: 768px) and (max-width: 1023px){
                        right: 22px;
                    }
                    @media (max-width: 414px){
                        right: 20px;
                    }
                    @media (max-width: 375px){
                        right: 20px;
                    }
                }
                @media (max-width: 414px){
                    right: 0;
                }
                @media (max-width: 375px){
                    right: 0;
                }
            }
            &__ul{
                padding: 0;
                margin-left: 40px;
                list-style: none;
                &__item{
                    color: #272930;
                    padding: 5px 5px;
                    font-family: $fonte-base;
                    font-weight: 700;
                    &::before{
                        content: url(images/tick.png);
                        position: absolute;
                        width: 10px;
                        height: 10px;
                        left: 20px;
                        margin-top: -7px;
                    }
                }
            }
        }
    }
}

.consultorio{
    padding: 50px 0px;
    position: relative;
    z-index: 10;
    &::after{
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-image: url(images/banner_consultorio02.jpg);
        background-size: cover;
        background-position: inherit;
        filter: blur(6px);
    }
    &__blur{
        z-index: 10;
    }
    &__h2{
        text-align: center;
        font-family: $fonte-base;
        font-size: 30px;
        color: #fff;
        text-shadow: 2px 1px 5px #000;
        &::after{
            content: "";
            position: absolute;
            height: 10px;
            bottom: 192px;
            left: 50%;
            margin-left: -40px;
            width: 75px;
            border-bottom: 3px solid #00bdca;
            @media (min-width: 1024px) and (max-width: 1080px){
                bottom: 235px;
            }
            @media (min-width: 768px) and (max-width: 1023px){
                bottom: 260px;
            }
            @media (max-width: 414px){
                bottom: 386px;
            }
            @media (max-width: 375px){
                bottom: 410px;
            }
            @media (max-width: 360px){
                bottom: 435px;
            }
            @media (max-width: 320px){
                bottom: 460px;
            }
        }
    }
    &__p{
        font-family: $fonte-base;
        color: #fff;
        font-size: 22px;
        text-shadow: 5px 5px 5px #000;

    }
    &__galeria{
        &__ul{
            margin: 0;
            padding: 0;
            display: flex;
            list-style: none;
            &__item{
                z-index: 10;
                &:hover{
                    opacity: .7;
                    transition: .5s;
                }
                &__link{
                    &__img{
                        width: 100%;
                        height: 250px;
                    }
                }
            }
            @media (max-width: 414px){
                display: none;
            }
            @media (max-width: 375px){
                display: none;
            }
        }
    }
}

.especialidades{
    padding: 50px 0px;
    &__h2{
        text-align: center;
        color: #272930;
        font-family: $fonte-base;
        margin-bottom: 70px;
        &::after{
            content: "";
            position: absolute;
            height: 10px;
            bottom: 65px;
            left: 50%;
            margin-left: -40px;
            width: 75px;
            border-bottom: 3px solid #00bdca;
        }
    }
    &__boxes{
        &__box1{
            display: flex;
            align-items: flex-start;
            border-right: 1px solid #00bdca;
            &__block{
                margin-left: 15px;
            }

            &__p{
                margin: 0;
                padding: 0;
                color: #272930;
                font-family: $fonte-base;
                &__strong{
                    color: #272930;
                    font-family: $fonte-base;
                    font-weight: 700;
                    font-size: 20px;
                }
            }
            &__ul{
                margin: 10px 0px 0px 25px;
                padding: 0;
                list-style: none;
                &__item{
                    color: #272930;
                    font-family: $fonte-base;
                    &::before{
                        content: url(images/checked.png);
                        position: absolute;
                        width: 10px;
                        height: 10px;
                        left: 160px;
                        @media (min-width: 1024px) and (max-width: 1080px){
                            left: 110px;
                        }
                        @media (min-width: 768px) and (max-width: 1023px){
                            left: 30px;
                        }
                        @media (max-width: 320px){
                            left: 110px;
                        }
                        
                    }
                }
            }
            @media (min-width: 768px) and (max-width: 1023px){
                display: block;
            }
            &__img{
                @media (min-width: 1024px) and (max-width: 1080px){
                    width: 80px;
                }
                @media (min-width: 768px) and (max-width: 1023px){
                    width: 80px;
                    position: relative;
                    left: 60px;
                    margin-bottom: 3px;
                }
                @media (max-width: 320px){
                    width: 80px;
                }
            }
            @media (max-width: 414px){
                border-bottom: 1px solid #00bdca;
                border-right: none;
                margin-bottom: 15px;
                padding-bottom: 10px;
            }
            @media (max-width: 375px){
                border-bottom: 1px solid #00bdca;
                border-right: none;
                margin-bottom: 15px;
                padding-bottom: 10px;
            }
            @media (max-width: 360px){
                border-bottom: 1px solid #00bdca;
                border-right: none;
                margin-bottom: 15px;
                padding-bottom: 10px;
            }
            @media (max-width: 320px){
                border-bottom: 1px solid #00bdca;
                border-right: none;
                margin-bottom: 15px;
                padding-bottom: 10px;
            }
        }
        &__box2{
            display: flex;
            align-items: flex-start;
            border-right: 1px solid #00bdca;
            &__block{
                margin-left: 15px;
            }

            &__p{
                margin: 0;
                padding: 0;
                color: #272930;
                font-family: $fonte-base;
                &__strong{
                    color: #272930;
                    font-family: $fonte-base;
                    font-weight: 700;
                    font-size: 20px;
                }
            }
            &__ul{
                margin: 10px 0px 0px 25px;
                padding: 0;
                list-style: none;
                &__item{
                    color: #272930;
                    font-family: $fonte-base;
                    &::before{
                        content: url(images/checked.png);
                        position: absolute;
                        width: 10px;
                        height: 10px;
                        left: 160px;
                        @media (min-width: 1024px) and (max-width: 1080px){
                            left: 110px;
                        }
                        @media (min-width: 768px) and (max-width: 1023px){
                            left: 30px;
                        }
                        @media (max-width: 320px){
                            left: 110px;
                        }
                    }
                }
            }
            @media (min-width: 768px) and (max-width: 1023px){
                display: block;
            }
            &__img{
                @media (min-width: 1024px) and (max-width: 1080px){
                    width: 80px;
                }
                @media (min-width: 768px) and (max-width: 1023px){
                    width: 80px;
                    position: relative;
                    left: 60px;
                    margin-bottom: 5px;
                }
                @media (max-width: 320px){
                    width: 80px;
                }
            }
            @media (max-width: 414px){
                border-bottom: 1px solid #00bdca;
                border-right: none;
                margin-bottom: 15px;
                padding-bottom: 10px;
            }
            @media (max-width: 375px){
                border-bottom: 1px solid #00bdca;
                border-right: none;
                margin-bottom: 15px;
                padding-bottom: 10px;
            }
            @media (max-width: 360px){
                border-bottom: 1px solid #00bdca;
                border-right: none;
                margin-bottom: 15px;
                padding-bottom: 10px;
            }
            @media (max-width: 320px){
                border-bottom: 1px solid #00bdca;
                border-right: none;
                margin-bottom: 15px;
                padding-bottom: 10px;
            }
        }
        &__box3{
            display: flex;
            align-items: flex-start;
            &__block{
                margin-left: 15px;
            }

            &__p{
                margin: 0;
                padding: 0;
                color: #272930;
                font-family: $fonte-base;
                &__strong{
                    color: #272930;
                    font-family: $fonte-base;
                    font-weight: 700;
                    font-size: 20px;
                }
            }
            &__ul{
                margin: 10px 0px 0px 25px;
                padding: 0;
                list-style: none;
                &__item{
                    color: #272930;
                    font-family: $fonte-base;
                    &::before{
                        content: url(images/checked.png);
                        position: absolute;
                        width: 10px;
                        height: 10px;
                        left: 160px;
                        @media (min-width: 1024px) and (max-width: 1080px){
                            left: 110px;
                        }
                        @media (min-width: 768px) and (max-width: 1023px){
                            left: 30px;
                        }
                        @media (max-width: 320px){
                            left: 110px;
                        }
                    }
                }
            }
            @media (min-width: 768px) and (max-width: 1023px){
                display: block;
            }
            &__img{
                @media (min-width: 1024px) and (max-width: 1080px){
                    width: 80px;
                }
                @media (min-width: 768px) and (max-width: 1023px){
                    width: 80px;
                    position: relative;
                    left: 60px;
                    margin-bottom: 5px;
                }
                @media (max-width: 320px){
                    width: 80px;
                }
            }
            @media (max-width: 414px){
                // border-bottom: 1px solid #00bdca;
                border-right: none;
                margin-bottom: 15px;
                padding-bottom: 10px;
            }
            @media (max-width: 375px){
                // border-bottom: 1px solid #00bdca;
                border-right: none;
                margin-bottom: 15px;
                padding-bottom: 10px;
            }
            @media (max-width: 360px){
                // border-bottom: 1px solid #00bdca;
                border-right: none;
                margin-bottom: 15px;
                padding-bottom: 10px;
            }
            @media (max-width: 320px){
                // border-bottom: 1px solid #00bdca;
                border-right: none;
                margin-bottom: 15px;
                padding-bottom: 10px;
            }
        }
    }
}
.blog{
    padding: 50px 0px;
    background-color: #e3fbfd;
    &__blocos{
        &__h2{
            text-align: center;
            color: #272930;
            font-family: $fonte-base;
            margin-bottom: 70px;
            &::after{
                content: "";
                position: absolute;
                height: 10px;
                bottom: 65px;
                left: 50%;
                margin-left: -40px;
                width: 75px;
                border-bottom: 3px solid #00bdca;
            }
        }
        &__left{
            &__img{
                width: 100%;
            }
            &__p{
                color: #272930;
                font-family: $fonte-base;
                &__strong{
                    color: #018c74;
                    font-size: 18px;
                    text-decoration: underline;
                }
            }
        }
        &__right{
            &__img{
                width: 100%;
            }
            &__p{
                color: #272930;
                font-family: $fonte-base;
                &__strong{
                    color: #018c74;
                    font-size: 18px;
                    text-decoration: underline;
                }
            }
        }
    }
}

.contato{
    padding: 50px 0px;
    &__fd{
        @media (min-width: 1024px) and (max-width: 1080px){
            display: flex;
            flex-direction: column;
        }
        @media (min-width: 768px) and (max-width: 1023px){
            display: flex;
            flex-direction: column;
        }
    }
    &__h2{
        text-align: center;
        color: #272930;
        font-family: $fonte-base;
        margin-top: 20px;
        &::after{
            content: "";
            position: absolute;
            height: 10px;
            bottom: 15px;
            left: 50%;
            margin-left: -40px;
            width: 75px;
            border-bottom: 3px solid #00bdca;
        }
    }
    &__local{
        &__h3{
            text-align: center;
            color: #272930;
            font-family: $fonte-base;
            @media (min-width: 768px) and (max-width: 1023px){
                text-align: justify;
            }
        }
        &__iframe{
            border: 1px  solid #00bdca !important;
            @media (min-width: 1024px) and (max-width: 1080px){
                width: 935px;
            }
            @media (min-width: 768px) and (max-width: 1023px){
                width: 700px;
            }
            @media (max-width: 425px) {
                width: 395px;
            }
            @media (max-width: 414px) {
                width: 385px;
            }
            @media (max-width: 375px) {
                width: 350px;
            }
            @media (max-width: 360px) {
                width: 335px;
            }
            @media (max-width: 320px) {
                width: 290px;
            }
        }
    }

    &__agenda{
        &__agendamento{
            text-align: center;
            color: #272930;
            font-family: $fonte-base; 
            @media (min-width: 768px) and (max-width: 1023px){
                text-align: justify;
            }
        }
        &__form{
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-direction: column;
            @media (min-width: 1024px) and (max-width: 1080px){
                display: block;
            }
            @media (min-width: 768px) and (max-width: 1023px){
                display: block;
            }
            &__input{
                width: 100%;
                height: 50px;
                margin-bottom: 20px;
                padding: 10px;
                font-size: 18px;
                font-family: $fonte-base; 
                border: 1px solid #00bdca;
                @media (min-width: 1024px) and (max-width: 1080px){
                    width: 935px;
                }
                @media (min-width: 768px) and (max-width: 1023px){
                    width: 700px;
                }
            }
            &__button{
                background-color: #00bdca;
                width: 100%;
                color: #fff;
                border: none;
                outline: none;
                height: 60px;
                cursor: pointer;
                border-radius: 10px;
                font-size: 21px;
                font-family: $fonte-base;
                &:hover{
                    background-color: #fff;
                    border: 2px solid #00bdca;
                    color: #00bdca;
                }
                @media (min-width: 1024px) and (max-width: 1080px){
                    width: 935px;
                }
                @media (min-width: 768px) and (max-width: 1023px){
                    width: 700px;
                }
            }
        }
    }
}